header{
    height: 35vh;
    width: 100vw;
}

h2.titre_paris {
    margin-left: 50px;
    text-align: left;
    color: white;
}

section.paris_dispo{
    padding: 20px 15px;
}

section.paris_dispo .container{
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    box-sizing: border-box;
    border-radius: 15px;
    background-color: rgba(255, 255, 255);
}

section.paris_dispo .container ul li {
    display: inline-block;
}

section.paris_dispo .container ul li a {
    text-align: center;
    font-size: 1.5em;
    color: black;
    text-decoration: none;
    margin: 0 10px;
    padding: 5px 10px;
    border-radius: 10px;
}


section.paris_dispo .container ul li  button {
    width: 100px;
    height: 50px;
    border-radius: 8px;
    border: none;
    background-color: #3C279D;
    color: white;
    font-weight:bold;
    font-size: 1.2em;
    cursor: pointer;
    outline: none;
    margin: 0 auto;
    align-items: center;
}

section.paris_dispo .container form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 600px;
}
section.paris_dispo .container form input {
    width: 100%;
 }

section.paris_dispo .container form input:hover{
    border-bottom: 2px solid #422da1;
}

section.paris_dispo .container form input{

    margin-bottom: 10px;
    margin: 10px 0;
    padding: 10px;
    box-sizing: border-box;
    border : none;
    outline: none;
    border-bottom: 2px solid #e4e4ec;
    transition: 0.2s;
}
